* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .conatiner {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .leftSide {
    height: 100%;
    display: flex;
    align-items: center;
}

header .rightSide {
    height: 100%;
    display: flex;
    align-items: center;
}

.leftSide h3 {
    color: blue;
}

.rightSide .navTabs {
    display: flex;
    gap: 15px;
    list-style: none;
    color: rgb(95, 94, 94);
    font-weight: 500;
}

.welcome {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conatiner1 {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.conatiner1 .contLeftSide {
    width: 50%;
}

.contLeftSide span {
    margin: 15px 0px;
    color: white;
    background-image: linear-gradient(to right, #2C2EEA, #D0208A);
    padding: 5px;
    border-radius: 5px;

}

.contLeftSide h3 {
    margin: 15px 0px;
    color: rgb(126, 126, 126);
    font-weight: 300;
    font-size: 25px;

}

.contLeftSide h1 {
    margin: 15px 0px;
    font-weight: 550;
    font-size: 50px;
    background: -webkit-linear-gradient(#2C2EEA, #D0208A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 70%;


}

.resumeButton {
    background-color: #4A2BD8;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-weight: 600;
    cursor: pointer;
}

.projectButton {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.projectButton:hover {
    color: white;
    background-color: black;
}

.conatiner1 .contRightSide {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conatiner1 .contRightSide .contRightSideImg {
    width: 80%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #2C2EEA, #D0208A);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.conatiner1 img {
    width: 350px;
}


.about {
    width: 100%;
    height: 60vh;
    background-color: #dbdbdb59;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.about h1 {

    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

.about p {
    width: 55%;
    font-size: 16px;
}

.about span {
    width: 50%;
    margin: 15px 0px;
    font-size: 25px;
}

.about i {
    margin: 15px 10px;
    font-size: 25px;
    background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

footer{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conatiner2 {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
